.DS_Store

# Generated data
results
plots
r_exports
data

# Folders to ignore
plans
reviews
architecture

# AI Assistansts
.claude/settings.local.json
.gemini/settings.json
.codex/config.json
CLAUDE.md

# Python
__pycache__
.venv
