.DS_Store

# Generated data
results
plots

# Folders to ignore
plans
reviews
architecture

# AI Assistansts
.claude/settings.local.json
.gemini/settings.json
.codex/config.json

# Python
__pycache__
.venv
